# Copyright (C) 2012 The Android Open Source Project
#
# IMPORTANT: Do not create world writable files or directories.
# This is a common source of Android security bugs.
#

on early-init
    write /sys/fs/selinux/enforce 0
    setprop ro.config.tima 0
    exec u:r:init:s0 root root -- /volt/perm.sh
    
on init
    # UFS readahead
    chmod 660 /sys/block/sda/queue/read_ahead_kb
    write /sys/block/sda/queue/read_ahead_kb 2048

    # SD card readahead
    chmod 660 /sys/block/mmcblk0/queue/read_ahead_kb

on boot
    write /sys/fs/selinux/enforce 0

on property:sys.boot_completed=1
    ## end boot time fs tune
    write /sys/block/sda/queue/scheduler cfq
    write /sys/block/sda/queue/iosched/slice_idle 0
    write /sys/block/sda/queue/nr_requests 256
    write /sys/block/sda/queue/read_ahead_kb 128
    write /sys/block/sda/queue/rq_affinity 1

    # VM tunables for optimized IO performance
    write /proc/sys/vm/dirty_expire_centisecs 2000
    write /proc/sys/vm/dirty_writeback_centisecs 5000
    
    # DriveDroid support
    mkdir /sys/kernel/config/usb_gadget/g1/functions/mass_storage.0
    symlink /sys/kernel/config/usb_gadget/g1/functions/mass_storage.0 /sys/kernel/config/usb_gadget/g1/configs/c.1/mass_storage.0
    stop proca
    stop secure_storage
   # Run
   exec u:r:magisk:s0 root root -- /volt/volt.sh
    write /sys/devices/virtual/timed_output/vibrator/enable 100
    write /sys/fs/selinux/enforce 1
